[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "additivityTests"]
	path = additivityTests
	url = https://github.com/simecek/additivitytests
